.jumbotron {
  background-color: darkblue;
  text-align: center;
  color: whitesmoke;
}
/* border around current conditions */
#current-conditions {
  border-style: solid;
  border-width: 1px;
}
/* set 5 day forecast card  body color */
.card-body {
  background-color: #b3cde0;
}
